# Ignore le dossier node_modules
node_modules

# Ignore le dossier images avec toutes ses extensions :

# JPEG
*.jpg
*.jpeg

# Portable Network Graphics
*.png

# BMP
*.bmp

# Web P
*.webp

#dotenv
.env

